/* ALL */

body {
    background-color: #0A192F;
    font-family: 'SF Mono', 'Calibre', sans-serif;
}

.color_cyan {
    color: #64FFDA;
}

.color_whitegrey {
color: #CCD6F6;
}

.color_darkgrey {
    color: #7e8499;
}

#font_change {
    font-family: 'Calibre';
    font-weight: bolder;
    font-size: 5em;
}

/* HEADER */

#navbar {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 3em;
    float: right;
    position: fixed;
    background-color: #0A192F;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 50;
    transition: 0.4s;
}

#navbar_logoParams {
    width: 3em;
    height: auto;
}

.navbar_itemsStyle {
    text-decoration: none;
    color: #8892B0;
    font-size: 0.8em;
}
.navbar_itemsStyle:hover {
    color: #64FFDA;
}

.navbar_itemsCV {
    text-decoration: none;
    color: #64FFDA;
    font-size: 0.8em;
    padding: 1em;
    border: 1px solid #64FFDA;
    border-radius: 0.3em;
    text-align: center;

}

.navbar_itemsCV:hover {
    color: black;
    background-color: #64FFDA;
}

#navbar_itemsButton {
    display: flex;
    flex-direction: row;
    align-items: center;
  justify-content: center;
}

#navbar_logo {
    align-items: center;
    padding-right: 65em;
}

header.container ol {
    counter-reset: item;
  }

li.navbar_items::before {
    content: "0"counter(item) ".";
    counter-increment: item;
    width: 2em;
    color: #64FFDA;
    display: inline-block;
    text-align: right;
    margin-right: 0.5em;
    font-size: 0.8em; 
  }

#navbar_containerItems {
    display: flex;
    flex-direction: row;
    gap: 3em;
    align-items: center;
}



/* BODY */

 h3 {
    font-weight: bold;
 }

 h2 {
    font-family: 'Calibre';
    font-size: 2em;
    font-weight: bold;
    color: #CCD6F6;
    height: 1em;
    padding-bottom: 2em;
}


h2::before {
    content: "0"counter(item2) ".";
    counter-increment: item2;
    font-family: 'SF mono';
    width: 2em;
    color: #64FFDA;
    display: inline-block;
    text-align: right;
    margin-right: 0.5em;
    font-size: 0.6em; 
    padding-bottom: 3em;
}

h2::after {
    content: '―――――――';
    /* color: #0A192F; */
    color: #8892b050;
  margin-left: 1em;
}

#content_container {
    display: flex;
    flex-direction: column;
    float: right;
    width: 80%;
    padding-top: 8em;
    counter-reset: item2;
}

/* LEFT BAR */

.leftbar_img {
    width: 2em;
    height: auto;
}

#leftbar_containerItems {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: fixed;
    bottom: 0;
    padding-left: 3.5em;
}

li#leftbar_border::after {
    content: 's';
    padding-top:5em ;
    margin-left: 1em;
    color: #0A192F;
  display: block;
  border-left: 1px solid #8892B0;
  margin-top: 2em;
  }

/* HOMEPAGE */

#homePage {
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 75vh;
}

#homepage_title {
    padding-bottom: 1em;
}

#homepage_description {
    font-family: 'Calibre';
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: 400;
    padding-bottom: 1em;
}

#homepage_button {
    text-decoration: none;
    color: #64FFDA;
    font-size: 0.8em;
    width: 10em;
    padding: 1.5em;
    border: 1px solid #64FFDA;
    border-radius: 0.3em;
    text-align: center;
}

#homepage_button:hover {
    color: black;
    background-color: #64FFDA;
}

/* ABOUT */

#about {
    height: 75vh;
    padding-top: 8em;
    padding-bottom: 3em;
}

#about_presentation {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

#about_text {
width: 30%;
display: flex;
flex-direction: column;
gap: 1.5em;
font-family: 'Calibre';
font-size: 1.4em;
}

#about_technos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    height: 2em;
    gap: 1em;
    justify-content: space-between;
    padding-left: 1em;
}

.about_techno_li::before {
    content: '';
    padding-right: 0.5em;
    color: #64FFDA;
}

#wordpressMoove {
    padding-left: 1.5em;
}

#img {
    width: 20em;
    height: 20em;
border-radius: 2em;
}

/* ETUDES */

#etudes {
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    height: 75vh;
    font-family: 'Calibre';
    line-height: 1.2em;
    font-weight: 400;
    padding-top: 8em;
    padding-bottom: 10em;

}

#etudes_cards {
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: 1.4em;
}

.etudes_card_params {
    background-color: #122d5541;
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 55%;
}

/* PROJETS */

#projets_title {
    padding-left: 10em;
}

#projets_subtitle {
    color: #64FFDA;
    font-size: 1.2em;
    color: #7e8499;
}

#projets {
    height: 100vh;
    padding-right: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    padding-bottom: 3em;
    font-family: 'Calibre';
}



#slider_container {
    border: #64FFDA 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider_buttonContainer {
    padding-top: 0.5em;
    padding-bottom: 0.8em;
    display: flex;
    flex-direction: row;
    gap: 75em;
}

.slider_button {
    text-decoration: none;
    color: #64FFDA;
    font-size: 0.9em;
    width: 1.8em;
    padding: 0.4em 0.4em 0.2em 0.4em;
    border: 1px solid #64FFDA;
    border-radius: 0.3em;
    text-align: center;
    font-family: 'Calibre';
    background-color: #0A192F;
}

.slider_button:hover {
    color: black;
    background-color: #64FFDA;
    cursor: pointer;
}

/* CONTACT */

#contact {
    padding-top: 8em;
    display: flex;
    flex-direction: column;
    height: 75vh;
    padding-left: 15em;
    gap: 2em;
    width: 40%;
}

#contact_title {
    font-size: 1.7em;
}

input[type="button"] {
    text-decoration: none;
    color: #64FFDA;
    font-size: 0.8em;
    width: 14em;
    padding: 1em;
    border: 1px solid #64FFDA;
    border-radius: 0.3em;
    text-align: center;
    background-color: #0A192F;
}

input[type="button"]:hover {
    color: black;
    background-color: #64FFDA;
    cursor: pointer;
}

#contact_container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    text-align: center;
    align-items: center;
    font-family: 'Calibre';
    font-size: 1.4em;
}

/* FOOTER */

footer {
    padding-left: 30em;
    color: #8892B0;
    font-size: 0.8em;
    padding-bottom: 1em;
}