<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://fonts.cdnfonts.com/css/sf-mono" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/calibre" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Portfolio LS</title>
</head>

<body>
    <header class="container">
        <nav id="navbar">
            <div id="navbar_logo">
                <a class="" href="/"><img id="navbar_logoParams" src="/img/logo.png" alt=""></a>
            </div>
            <ol id="navbar_containerItems">
                <li class="navbar_items"><a class="navbar_itemsStyle" href="#about">A propos</a></li>
                <li class="navbar_items"><a class="navbar_itemsStyle" href="#etudes">Etudes</a></li>
                <li class="navbar_items"><a class="navbar_itemsStyle" href="#projets">Projets</a></li>
                <li class="navbar_items"><a class="navbar_itemsStyle" href="#contact">Contact</a></li>
            </ol>
            <div id="navbar_itemsButton">
                <a class="navbar_itemsCV" href="/cv/resume.pdf" target="_blank" rel="noopener noreferrer">Curriculum</a>
            </div>
                
        </nav>
        <script>
            let prevScrollpos = window.pageYOffset;
            window.onscroll = function() {
              let currentScrollPos = window.pageYOffset;
              if (prevScrollpos > currentScrollPos) {
                document.getElementById("navbar").style.top = "0";
              } else {
                document.getElementById("navbar").style.top = "-100px";
              }
              prevScrollpos = currentScrollPos;
            }
          </script>
    </header>