<div id="content_container">
    <div id="left">
        <ol id="leftbar_containerItems">
            <li class="leftbar_items"><a class="leftbar_itemsStyle" href="https://www.linkedin.com/in/landrysancet/" target="_blank"><img class="leftbar_img" src="/img/linkedin.png" alt=""></a></li>
            <li class="leftbar_items"><a class="leftbar_itemsStyle" href="https://twitter.com/Landry_sct" target="_blank"><img class="leftbar_img" src="/img/twitter.png" alt=""></a></li>
            <li class="leftbar_items"><a class="leftbar_itemsStyle" href="https://github.com/SancetLandry" target="_blank"><img class="leftbar_img" src="/img/github.png" alt=""></a></li>
            <li class="leftbar_items" id="leftbar_border"><a class="leftbar_itemsStyle" href="https://www.instagram.com/landry_sct/" target="_blank"><img class="leftbar_img" src="/img/instagram.png" alt=""></a></li>
        </ol>
    </div>